body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #222;
    color: white;
    font-family: 'Raleway', sans-serif;
    height: 100vh;
    margin: 0;
}

canvas {
    border: 1px solid white;
}

#score {
    margin-top: 10px;
    font-size: 20px;
}

.footer-text {
    text-align: center;
    font-family: 'Raleway', cursive; /* Use a stylish font */
    font-style: italic;
    color: #fff; /* Change color as needed */
    margin-top: 20px; /* Add some spacing if needed */
}

#score {
    margin-top: 10px;
    font-size: 20px;
}
